# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
*.tsbuildinfo
dist-ssr
.output
*.local

# Env
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
